<div id="ajaxreport" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Reporte de Dispositivos</h4>
            </div>
            <div class="modal-body">
                <div id="report-container-render">
                    <!-- Contenido será cargado dinámicamente -->
                    <div class="text-center">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                        <p>Generando reporte...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>