<div id="ajax_edit_popup" class="modal fade in windows-modal" tabindex="-1" role="dialog" style="display:none;padding-right:17px;position:fixed;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:90%;height:auto;margin:auto;padding:5px;">
            <button id="btn_close_ajax_edit_popup" type="button" class="bootbox-close-button close pull-right modal-close"
                    data-dismiss="modal" aria-hidden="true"
                    style="position: absolute;margin-left: 99%;margin-top: -17px;"
                    onclick="$('.windows-modal').hide(300);$('body').css({'overflow':'auto'});">
                <span class="badge" style="background-color: #c01508;">X</span>
            </button>
            <div class="modal-header">
                <h4 class="modal-title">Editar Dispositivo</h4>
            </div>
            <div class="modal-body">
                <div id="ajax_edit_popup_container_render">
                    <form id="device_edit_form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="device_name">Nombre:</label>
                                    <input type="text" id="device_name" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="device_description">Descripción:</label>
                                    <input type="text" id="device_description" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="device_ip">IP:</label>
                                    <input type="text" id="device_ip" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="device_km">KM:</label>
                                    <input type="number" id="device_km" class="form-control" step="0.001">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="device_orientation">Orientación:</label>
                                    <select id="device_orientation" class="form-control">
                                        <option value="Norte">Norte</option>
                                        <option value="Sur">Sur</option>
                                        <option value="Este">Este</option>
                                        <option value="Oeste">Oeste</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="device_status">Estado:</label>
                                    <select id="device_status" class="form-control">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                        <option value="2">Indeterminado</option>
                                        <option value="-1">Oculto</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="device_attributes">Atributos (JSON):</label>
                            <div id="json_editor_container" class="json-editor-container"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn_save_device">
                    <i class="fa fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
<div id="dialog-bg" class="modal-backdrop fade in windows-modal" style="display: none;" oncontextmenu="return false"></div>