{% extends 'base_report.html.twig' %}
{% block title %}Registro Incidente{% endblock %}
{% block head_stylesheets_report %}
    {{ parent() }}
    <style>
        table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 3px;
        }
        .table>thead>tr>th {
            vertical-align: middle;
        }
        .col9{
            background-color: cornsilk;
        }
        body {
            font-size: 16px;
        }
        h4{
            font-size: 26px;
        }
        tspan {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 15px;
        }
        .highcharts-title tspan{
            font-size: 26px !important;
        }
        .highcharts-subtitle tspan{
            font-size: 15px !important;
        }
        .highcharts-axis-labels{
            font-size: 15px !important;
        }
        .highcharts-axis{
            font-size: 15px !important;
        }
    </style>
{% endblock %}
{% block head_javascripts_report %}
    {{ parent() }}
    <script src="{{ asset('public/js/highcharts/highcharts-3d.js') }}"></script>
{% endblock %}
{% block body_report %}
    <div id="report-container-render" class="col-lg-12">
        {{ include('sivDashboardBundle:RegistroIncidente:graphics.html.twig') }}
    </div>
{% endblock %}
