<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Incidente</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #333;
        }

        .container {
            width: 100%;
            padding: 5px;
        }

        h4 {
            font-size: 26px;
            margin-bottom: 10px;
        }

        table>tbody>tr>td,
        table>tbody>tr>th,
        table>tfoot>tr>td,
        table>tfoot>tr>th,
        table>thead>tr>td,
        table>thead>tr>th {
            padding: 3px;
            vertical-align: middle;
        }

        .col9 {
            background-color: cornsilk;
        }

        /* Highcharts styling for PDF */
        tspan {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 15px;
        }

        .highcharts-title tspan {
            font-size: 26px !important;
        }

        .highcharts-subtitle tspan {
            font-size: 15px !important;
        }

        .highcharts-axis-labels {
            font-size: 15px !important;
        }

        .highcharts-axis {
            font-size: 15px !important;
        }

        @page {
            margin: 5mm 1mm 5mm 1mm;
        }
    </style>

    <!-- Highcharts 9.1.0 legacy compatible con wkhtmltopdf -->
    <script src="https://vs.gvops.cl/js/highcharts-legacy/highcharts.js"></script>
    <script src="https://vs.gvops.cl/js/highcharts-legacy/highcharts-more.js"></script>
    <script src="https://vs.gvops.cl/js/highcharts-legacy/highcharts-3d.js"></script>

    <script>
        // Deshabilitar animaciones para rendering PDF
        Highcharts.setOptions({
            plotOptions: {
                series: {
                    animation: false
                }
            }
        });
    </script>
</head>
<body>
    <div class="container">
        {{ include('dashboard/siv/reportes/registro_incidente/graphics.html.twig') }}
    </div>
</body>
</html>