<div id="ajax_edit_popup"  class="modal fade in windows-modal" tabindex="-1" role="dialog"style="display:none;padding-right:17px;position:fixed;" >
    <div class="modal-dialog-xl">
        <div class="modal-content" style="width:37%;height:-webkit-fill-available;margin:auto;padding:5px;">
            <button id="btn_close_ajax_edit_popup" type="button" class="bootbox-close-button close pull-right modal-close" data-dismiss="modal" aria-hidden="true" style="position: absolute;margin-left: 99%;margin-top: -17px;" onclick="$('.windows-modal').hide(300);$('body').css({'overflow':'auto'});">
                <span class="badge" style="background-color: #c01508;">X</span>
            </button>
            <div id="ajax_edit_popup_container_render"></div>
        </div>
    </div>
</div>
<div id="dialog-bg" class="modal-backdrop fade in windows-modal" style="display: none;" oncontextmenu="return false"></div>