<!-- INICIO BLOQUE HTML DE AJAX REPORT -->
<div id="ajaxreport"  class="modal fade in windows-modal" tabindex="-1" role="dialog"style="display:none;padding-right:17px;position:fixed;" >
    <div class="modal-dialog-xl">
        <div class="modal-content" style="width:96%;height:84%;margin:auto;padding:5px;">
            <button id="btn_close_ajax_report_popup" type="button" class="bootbox-close-button close pull-right modal-close" data-dismiss="modal" aria-hidden="true" style="position: relative; margin-right: -17px;margin-top: -22px;" onclick="$('.windows-modal').hide(300);$('body').css({'overflow':'auto'});SetCotDevicesTimer();">
                <span class="badge" style="background-color: #c01508;">X</span>
            </button>
            <div id="report-container-render"></div>
        </div>
    </div>
</div>
<div id="dialog-bg" class="modal-backdrop fade in windows-modal" style="display: none;" oncontextmenu="return false"></div>